#include <physical_layouts.dtsi>
/ {
	default_layout: default_layout {
	  compatible = "zmk,physical-layout";
	  display-name = "Default layout";
	  transform = <&default_transform>;
	  keys
		= <&key_physical_attrs 100 100    0   20       0     0     0>
        , <&key_physical_attrs 100 100  105   20       0     0     0>
		, <&key_physical_attrs 100 100  210   10       0     0     0>
		, <&key_physical_attrs 100 100  315   10       0     0     0>
		, <&key_physical_attrs 100 100  420   15       0     0     0>
		, <&key_physical_attrs 100 100  525	  15       0     0     0>
		, <&key_physical_attrs 100 100  0	  120      0     0     0>
		, <&key_physical_attrs 100 100  105   120      0     0     0>
		, <&key_physical_attrs 100 100  210   110      0     0     0>
		, <&key_physical_attrs 100 100  315   110      0     0     0>
		, <&key_physical_attrs 100 100  420   115      0     0     0>
        , <&key_physical_attrs 100 100  525   115	   0     0     0>
		, <&key_physical_attrs 100 100  0	  220      0     0     0>
		, <&key_physical_attrs 100 100  105   220      0     0     0>
		, <&key_physical_attrs 100 100  210   210      0     0     0>
		, <&key_physical_attrs 100 100  315   210      0     0     0>
		, <&key_physical_attrs 100 100  420   215      0     0     0>
		, <&key_physical_attrs 100 100  525   215      0     0     0>
		, <&key_physical_attrs 100 100  0	  320      0     0     0>
		, <&key_physical_attrs 100 100  105   320      0     0     0>
		, <&key_physical_attrs 100 100  210   310      0     0     0>
        , <&key_physical_attrs 100 100  315   310      0     0     0>
		, <&key_physical_attrs 100 100  320   315      0     0     0>
		, <&key_physical_attrs 100 100  525   315      0     0     0>
		, <&key_physical_attrs 100 100  100   420      0     0     0>
		, <&key_physical_attrs 100 100  100   420      0     0     0>
		, <&key_physical_attrs 100 100  100   410      0     0     0>
		, <&key_physical_attrs 100 100  100   410      0     0     0>
		, <&key_physical_attrs 100 100  100   415      0     0     0>
		, <&key_physical_attrs 100 100  100   415      0     0     0>
		, <&key_physical_attrs 100 100  100   520	   0     0     0>
        , <&key_physical_attrs 100 100  100   520      0     0     0>
		, <&key_physical_attrs 100 100  100   510      0     0     0>
		, <&key_physical_attrs 100 100  100   510      0     0     0>
		, <&key_physical_attrs 100 100  100   515      0     0     0>
		, <&key_physical_attrs 100 100  100   515      0     0     0>
		, <&key_physical_attrs 100 100  100   620      0     0     0>
		, <&key_physical_attrs 100 100  100   620      0     0     0>
		, <&key_physical_attrs 100 100  100   610      0     0     0>
		, <&key_physical_attrs 100 100  100   610      0     0     0>
		, <&key_physical_attrs 100 100  100   615      0     0     0>
        , <&key_physical_attrs 100 100  100   615	   0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
        , <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		, <&key_physical_attrs 100 100  100   28       0     0     0>
		;

	};
};
